.header{
    color: #E36102;
    font-size: 50px;
    font-family: sweet-titling-no-22, serif;
    font-weight: 400;
    height: 150px;
}
.header:hover{
    color: #346247;
}

.logo{
    margin-right: 120px; 
    height: 150px;
    width: 275px;
    margin-left: 10px;
}

.btn-home{
    color:#FCC001;
    border: none;
    background: none;
    font-family: tuppence, serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 10px;
}

.btn-home:hover{
    color:#0087B7;
}

.btn-home:focus{
    outline: none;
}

.btn-mens {
    color:#0087B7;
    border: none;
    background: none;
    font-family: tuppence, serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 10px;
    margin-top: 20px;

}

.btn-mens:hover{
    color:#FCC001;
}
.btn-mens:focus{
    outline: none;
}

.btn-womens{
    color:#FCC001;
    border: none;
    background: none;
    font-family: tuppence, serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 10px;
    margin-top: 40px;
}

.btn-womens:hover{
    color:#0087B7;
}

.btn-womens:focus{
    outline: none;
}

.btn-accessories{
    color:#0087B7;
    border: none;
    background: none;
    font-family: tuppence, serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 10px;
    margin-top: 60px;
}

.btn-accessories:hover{
    color:#FCC001;
}

.btn-accessories:focus{
    outline: none;
}

.btn-contact{
    color:#FCC001;
    border: none;
    background: none;
    font-family: tuppence, serif;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 10px;
    margin-top: 50px;
}

.btn-contact:hover{
    color:#0087B7;
}

.btn-contact:focus{
    outline: none;
}

p{
    font-family: tuppence, serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-left: 23%;
    margin-right: 20%;
    margin-top: -50px;
}


/* background-image: url(./images/snow.jpg); */